// #root {
//   max-width: 1280px;
//   margin: 0 auto;
//   padding: 2rem;
//   text-align: center;
// }

// Swiper styles
.swiper-wrapper {
  padding-block: 7rem;
}
.swiper-pagination .swiper-pagination-bullet {
  width: 19px;
  height: 19px;
  background-color: #e0d0d0;
}
.swiper-pagination .swiper-pagination-bullet-active {
  background-color: #C4C4C4;
}
