.reverse_icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1rem;
    height: 1rem;

    cursor: pointer;
    transition: transform .3s linear;
    user-select: none;
}

.active {
    transform: translate(-50%, -50%) rotate(180deg);
}
